{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.1"]
  [lilactown/helix "0.0.9"]]

 :builds
 {:backend {:target :node-script
            :main main/init
            :output-to "out/demo-script/script.js"}

  :dev {:target :browser,
        ;TODO
        ;:init-fn myapp.main/init,
        :output-dir "out/browser/target",
        :devtools {:preloads [helix.experimental.refresh]
                   :reload-strategy :full}}}}