{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[binaryage/devtools "1.0.2"]
  [com.pitch/uix.core "0.8.1"]
  [com.pitch/uix.dom "0.8.1"]]

 :dev-http {3000 "public"}

 :builds
 {:backend
  {:target :node-script
   :main main/init
   :output-to "out/demo-script/script.js"}

  :app
  {:target :browser
   :modules {:main {:init-fn frontend.main/init}}
   :output-dir "public/js"
   :devtools {:preloads [frontend.dev devtools.preload]
              :reload-strategy :full}}}}